In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.feature_selection import SelectFromModel
from sklearn.pipeline import Pipeline
#load the csv Data
data=pd.read_csv('C:/Users/mothi/Documents/Transaction Attrition Prediction/dataset/10columnssovs.csv')
data.head()
print("Imported DATA\n\n")
data.info()

Imported DATA


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17000 entries, 0 to 16999
Data columns (total 11 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Gender                    17000 non-null  object
 1   Dependent_Count           17000 non-null  int64
 2   Marital_Status            17000 non-null  object
 3   Card_Category             17000 non-null  object
 4   Total_Relationship_Count  17000 non-null  int64
 5   Months_Inactive_12_mon    17000 non-null  int64
 6   Contacts_Count_12_mon     17000 non-null  int64
 7   Total_Amt_Chng_Q4_Q1      17000 non-null  float64
 8   Total_Trans_Ct            17000 non-null  int64
 9   Total_Ct_Chng_Q4_Q1       17000 non-null  float64
 10  Attrition_Flag            17000 non-null  object
dtypes: float64(2), int64(5), object(4)
memory usage: 1.4+ MB

In [2]:
#tranforming categorical data to numerical
from sklearn.preprocessing import LabelEncoder
labelencoder= LabelEncoder()
for column in data:
    data[column] = labelencoder.fit_transform(data[column])
data.head(50)
data.shape
data.isnull().sum()
data = data.dropna()
#le = LabelEncoder()
#or col in data.columns:
# data[col] = le.fit_transform(data[col])
print("\n\nDATA after transforming\n\n")
data.info()
data.head(10)
data.tail(10)
data.head(10)
data.head(10)

DATA after transforming


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17000 entries, 0 to 16999
Data columns (total 11 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Gender                    17000 non-null  int32
 1   Dependent_Count           17000 non-null  int64
 2   Marital_Status            17000 non-null  int32
 3   Card_Category             17000 non-null  int32
 4   Total_Relationship_Count  17000 non-null  int64
 5   Months_Inactive_12_mon    17000 non-null  int64
 6   Contacts_Count_12_mon     17000 non-null  int64
 7   Total_Amt_Chng_Q4_Q1      17000 non-null  int64
 8   Total_Trans_Ct            17000 non-null  int64
 9   Total_Ct_Chng_Q4_Q1       17000 non-null  int64
 10  Attrition_Flag            17000 non-null  int32
dtypes: int32(4), int64(7)
memory usage: 1.2 MB

,Gender,Dependent_Count,Marital_Status,Card_Category,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Total_Amt_Chng_Q4_Q1,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Attrition_Flag
0,1,3,1,0,4,1,3,987,32,791,1
1,0,5,2,0,5,1,2,1073,23,829,1
2,1,3,1,0,3,1,0,1154,10,818,1
3,0,4,3,0,2,4,1,1020,10,818,1
4,1,3,1,0,4,1,0,1145,18,821,1
5,1,2,1,0,2,1,2,1009,14,507,1
6,1,4,1,1,5,1,3,1136,21,399,1
7,1,0,3,3,1,2,2,1147,26,392,1
8,1,3,2,0,4,2,0,1156,14,710,1
9,1,2,2,0,5,3,3,1069,22,538,1

In [3]:
#data.to_csv('new_ovs.csv',index=False)
#splitting the features and target as we are dropping the colums so 1 if row 0
X=data.drop(columns='Attrition_Flag',axis=1)
Y=data['Attrition_Flag']
X.head(20)
Y.head(12)
#splitting the data into training data and testing data
from sklearn.model_selection import train_test_split 
X_train, X_test , Y_train, Y_test = train_test_split(X , Y, test_size=0.20, stratify=Y,random_state=2)
print(X.shape,X_train.shape,X_test.shape)
model=LogisticRegression()
#training the logistic regression
model.fit(X_train,Y_train)
#accuracy score
from sklearn.metrics import accuracy_score
X_Train_predection=model.predict(X_train)
training_accuracy=accuracy_score(X_Train_predection,Y_train)
print("\n\nTraining Accuracy: ", training_accuracy*100)
#accuracy on test data
X_Test_predection=model.predict(X_test)
testing_accuracy=accuracy_score(X_Test_predection,Y_test)
print("\n\nTesting Accuracy: ",testing_accuracy*100,"\n\n")

(17000, 10) (13600, 10) (3400, 10)


Training Accuracy:  79.55147058823529


Testing Accuracy:  80.05882352941175

C:\Users\mothi\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [4]:
import pickle
# Save the model as a pickle file
with open('credit_2.pkl', 'wb') as f:
    pickle.dump(model,f)